<h1> My list of tweets (｡◕‿◕｡) <h1>
<h4>
  <% @parsed.each_with_index do |t, ind| %>
    <% count = t["user"]["statuses_count"] - ind %>
    <%= "No. #{count} #{t["text"]}" %>
    <br/>
    <br/>
  <% end %>
</h4>
